extends /layout
block content
  .panel
    .panel-heading 帖子管理
    .panel-body
      table.table(class='table-striped')
        thead
          tr
            th
              input(type='checkbox')
            th 
              a 标题
            th
              a 作者
            th
              a 分组
            th
              a 日期
        tbody
          each post in posts
            tr
              td
                input(type='checkbox' name='post_id' value='#{post._id}')
              td
                a(href='/post/#{post._id}')= post.title
              td
                a(href='/user/#{post.user._id}')= post.user.name
              td
                - var section = post.section || '未分组'
                - var sectionName = '未分组'
                - if (typeof section === 'object') {
                -   sectionName = sectionHash[section]
                - }
                a(href='/section/#{section}')= sectionName
              td
                a= post.time
      button.btn(class='btn-danger' id='btn-delete') 删除帖子
      script.
        $(function() {
          $('#btn-delete').click(function() {
            var arr_post_id = []
            var posts = $('[name=post_id]:checked')
            if (posts.length === 0) {
              return
            }
            posts.each(function() {
              arr_post_id.push(this.value)
            })
            $.post('/admin/post/delete', {posts: arr_post_id}).done(function(data) {
              if (data === 'ok') {
                posts.parent().parent().fadeOut(600, function() {
                  posts = undefined
                })
              }
            })
          })
        })
