extends /layout
block content
  ol.breadcrumb
    li: a(href='/section') 全部版块
    if locals.section
      li: a(href='/section/#{section._id}')= section.name
    else
      li: a(href='/section/未分组') 未分组
    li.active= post.title

  .post-block
    h3= post.title
    hr
    if post.type === 'share'
      p= post.content
      hr
      blockquote
        a(href='#{post.share_url}') 点击查看原文
    else
      script(src='http://cdn.staticfile.org/marked/0.2.9/marked.js')
      script(src='http://cdn.staticfile.org/prettify/r298/prettify.min.js')
      // script(src='http://bonsaiden.github.io/gfm/marked.js')
      p.markdown!= post.content
    hr
    - if (locals.user && post.author.toString() == user._id.toString())
      form(method='post' id='delete')
        a.btn(href='/post/#{post._id}/edit' class='btn-primary') 编辑
        // new line
        a.btn(class='btn-danger' id='btn-delete') 删除
        a.btn(class='btn-warning' id='btn-delete-confirm' style='display: none') 确认删除
        input.hide(name='type' value='delete')
      script.
        $('#btn-delete').click(function() {
          $('#btn-delete-confirm').toggle()
          return false
        })
        $('#btn-delete-confirm').click(function() {
          $('#delete').submit()
        })
      hr
    p.soft 标签
    p.soft
      a(href='/user/#{post.author}' title='作者')= post.user.name
      |  发布于
      code= getShowtime(post.create_at)
    
    if post.replys
      include /post/reply
    
    script.
      $(function() {

        marked.setOptions({
          gfm: true,
          breaks: true
        })
        $('.markdown').each(function() {
          var text = this.innerHTML
          console.log($(this).html())
          // innerHTML will auto entitied
          text = text.replace(/&gt;/g, '>') // innerHTML auto change?
          text = text.replace(/&amp;/g, '&')
          text = text.replace(/&lt;/g, '<')
          var html = marked(text)
          // for pretty print
          html = html.replace(/^<pre>/, '<pre class="prettyprint">')
          this.innerHTML = html
          prettyPrint()
        })

        
      })
